@import 'variables.scss';

.game-over-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  h1 {
    font-size: 3rem;
    margin-bottom: 1.2rem;
  }

  .game-over-text {
    font-size: 1.33rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .play-again {
    border: 3px solid $light-green;
    color: #fff;
    background-color: transparent;
    font-size: 1.3rem;
    margin: 6rem 0 1.5rem;
  }

  .save-button {
    font-size: 1.3rem;
  }

  .save-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background-color: #1f28337f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
      width: 275px;
      height: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1.5rem;
      background-color: $card-background;
      border-radius: 10px;
      outline: 3px solid $light-green;
      outline-offset: 3px;

      .close-modal {
        width: 1.5rem;
        height: 1.5rem;
        color: $light-color;
        background-color: transparent;
        font-size: 1.5rem;
        align-self: flex-end;
        outline: 2px solid $light-green;
        outline-offset: 1px;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px;

        img {
          margin: 0;
          padding: 0;
          width: 60%;
          height: 60%;
        }
      }

      h1 {
        font-size: 1.2rem;
        font-weight: bold;
        color: $light-color;
        margin-top: 0.8rem;
      }

      input {
        width: 100%;
        height: 40px;
        padding: 0.5rem;
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        color: $dark-color;
        background-color: $light-color;
        margin-bottom: 1rem;

        &:focus {
          outline: 2px solid $light-green;
          outline-offset: 2px;
        }
      }

      button {
        font-size: 1.3rem;
      }

      .inverted {
        border: 3px solid $light-green;
        color: #fff;
        background-color: transparent;
        font-size: 1.3rem;
        margin-bottom: 0.8rem;
      }
    }
  }
}
