@import 'variables.scss';

.signup-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    font-size: 1.3rem;
    margin-top: 1rem;
  }
}

.welcome {
  font-size: 1.2rem;
  color: $light-color;
  margin-top: 0.8rem;
}
