@import 'variables.scss';

.signup-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    width: 100%;
    height: 40px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    color: $dark-color;
    background-color: $light-color;

    &:focus {
      outline: 2px solid $light-green;
      outline-offset: 2px;
    }
  }

  button {
    font-size: 1.3rem;
    margin-top: 1rem;
  }
}
