@import 'variables.scss';

.question-page {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: relative;

  .question-info {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .question-number {
      font-size: 1.5rem;
      font-weight: bold;
      align-self: center;
    }

    .score {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .question-controls {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 6rem;

    .answer {
      font-size: 1.5rem;
      font-weight: bold;
      bottom: 120px;
    }

    .correct {
      color: $correct-answer;
    }

    .incorrect {
      color: $incorrect-answer;
    }

    .navigation-buttons {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 2.5rem;
      margin-top: 1rem;
    }
  }
}
