@import '../../variables.scss';

.landing-container {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 7rem auto 0;
  max-width: 1000px;

  h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .line-two {
      line-height: 60%;
    }
  }

  p {
    text-align: center;
  }

  .tagline {
    margin-bottom: 2rem;
  }

  .description {
    margin-bottom: 2.5rem;
  }
}
