.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.loading-icon {
  height: 20vmin;
  pointer-events: none;
}

.loading-text {
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
  margin-top: 1rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .loading-icon {
    animation: loading-icon-spin infinite 3s linear;
  }
}

@keyframes loading-icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
