@import '../../variables.scss';

.question-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  min-width: 350px;
  max-width: 500px;
  margin-top: 4rem;

  h1 {
    margin-top: 2rem;
    font-size: 1.3rem;
  }

  .navigation-buttons {
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 12rem;
  }

  .question-number {
    font-size: 1.5rem;
    font-weight: bold;
    align-self: center;
    margin-bottom: 2rem;
  }

  .score {
    font-size: 1.5rem;
    font-weight: bold;
    align-self: center;
    margin-top: 1.5rem;
  }

  .answer {
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    align-self: center;
    bottom: -110px;
  }

  .correct {
    color: $correct-answer;
  }

  .incorrect {
    color: $incorrect-answer;
  }

  .answer-button {
    width: 100%;
    text-align: left;
    font-size: 1rem;
    padding: 0.9rem;
    color: $light-color;
    background-color: $card-background;
    border-radius: 10px;
    margin-top: 1rem;
  }

  .correct-bkgd {
    background-color: $correct-answer;
  }

  .incorrect-bkgd {
    background-color: $incorrect-answer;
  }

  .no-click {
    pointer-events: none;
  }
}
