@import 'variables.scss';

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    font-size: 1.3rem;
    margin-top: 1rem;
  }
}
.signup-cta {
  font-size: 0.8rem;

  button {
    display: inline-block;
    color: $light-green;
    background-color: transparent;
    font-size: inherit;
    margin-left: 0.3rem;
    border-radius: 2px;
  }
}
