@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $light-color;
  background-color: $background;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.green-text {
  color: $light-green;
}

.blue-text {
  color: $light-blue;
}

.bold-text {
  font-weight: bold;
}

button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button {
  width: 160px;
  height: 50px;
  font-size: 1.5rem;
  background-color: $light-green;
  font-family: 'Poppins', 'sans-serif';
  font-weight: bold;
}
