@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $light-color;
  background-color: $background;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.green-text {
  color: $light-green;
}

.blue-text {
  color: $light-blue;
}

.bold-text {
  font-weight: bold;
}

button {
  border: none;
  border-radius: 10px;
  cursor: pointer;

  &:focus {
    outline: 2px solid $light-color;
    outline-offset: 2px;
  }
}

input {
  width: 100%;
  height: 40px;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  color: $dark-color;
  background-color: $light-color;

  &:focus {
    outline: 2px solid $light-green;
    outline-offset: 2px;
  }
}

.button {
  width: 160px;
  height: 50px;
  font-size: 1.5rem;
  background-color: $light-green;
  font-family: 'Poppins', 'sans-serif';
  font-weight: bold;

  &:disabled {
    color: $dark-disabled;
    background-color: $light-green-disabled;
  }
}

.inverted {
  border: 3px solid $light-green;
  color: #fff;
  background-color: transparent;
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
}

.modal-cta {
  font-size: 0.8rem;

  button {
    display: inline-block;
    color: $light-green;
    background-color: transparent;
    font-size: inherit;
    margin-left: 0.3rem;
    border-radius: 2px;
  }
}
