$light-green: #6be799;
$light-green-disabled: #6be79964;

$light-blue: #2282dc;

$correct-answer: #2db25e;
$incorrect-answer: #e76b6b;

$light-color: #ffffff;
$dark-color: #0b0c10;
$dark-disabled: #0b0c1064;

$background: #1f2833;
$card-background: #425163;
